# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/CodigoFonte/JavaApplication1/nbproject/private/
/CodigoFonte/microcom_aplicacao/nbproject/private/
/CodigoFonte/microcom_apresentacao/nbproject/private/
/CodigoFonte/microcom_apresentacao/build/
/CodigoFonte/microcom_aplicacao/build/